{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-alphacard-hosted-checkout" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ rehook_events }}" data-toggle="tooltip" title="{{ button_rehook_events }}" class="btn btn-warning"><i class="fa fa-refresh"></i></a>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>&nbsp;{{ error_warning }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i>&nbsp;{{ success }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i>&nbsp;{{ text_notification_ssl }}</div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>&nbsp;{{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-alphacard-hosted-checkout" class="form-horizontal">
          <ul class="nav nav-tabs" >
            <li style="display:none;" ><a href="#tab-transaction" data-toggle="tab"><i class="fa fa-list"></i>&nbsp;{{ tab_transaction }}</a></li>
            <li style="display:none;"><a href="#tab-setting" data-toggle="tab"><i class="fa fa-gear"></i>&nbsp;{{ tab_setting }}</a></li>
          </ul>
          <div class="tab-content">
   
            <div class="tab-pane" id="tab-transaction" style="display:block;">
            <div class="form-group">
                  <label class="col-sm-2 control-label" for="select-status">{{ entry_status }}</label>
                  <div class="col-sm-10">
                    <select name="payment_alphacard_pgs_status" id="select-status" class="form-control">
                      {% if payment_alphacard_pgs_status %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
             <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-merchant"><span data-toggle="tooltip" title="{{ help_merchant }}">{{ entry_merchant }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="payment_alphacard_pgs_merchant" value="{{ payment_alphacard_pgs_merchant }}" placeholder="{{ entry_merchant }}" id="input-merchant" class="form-control" />
                    {% if error_merchant %}
                        <div class="text-danger">{{ error_merchant }}</div>
                    {% endif %}
                  </div>
                </div>
                  <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_url }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="payment_alphacard_pgs_url" value="{{ payment_alphacard_pgs_url }}" placeholder="{{ entry_url }}" id="input-sort-order" class="form-control" />
                  {% if error_url %}
                        <div class="text-danger">{{ error_url }}</div>
                    {% endif %}
                    </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-user">{{ entry_userid }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="payment_alphacard_pgs_user" value="{{ payment_alphacard_pgs_user }}" placeholder="{{ entry_userid }}" id="input-user" class="form-control" />
                {% if error_userid %}
                        <div class="text-danger">{{ error_userid }}</div>
                    {% endif %}
                     </div>
                </div>
                 <div class="form-group">
                  <label class="col-sm-2 control-label" for="select-3dsecure">{{ entry_3dsecure }}</label>
                  <div class="col-sm-10">
                    <select name="payment_alphacard_pgs_3dsecure" id="select-3dsecure" class="form-control">
                      {% if payment_alphacard_pgs_3dsecure %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
				
				<div class="form-group">
                  <label class="col-sm-2 control-label" for="select-status">{{ entry_mode}}</label>
                  <div class="col-sm-10">
                    <select name="payment_alphacard_pgs_mode" id="select-status" class="form-control">
                      {% if payment_alphacard_pgs_mode %}
                      <option value="1" selected="selected">UAT</option>
                      <option value="0">Production</option>
                      {% else %}
                      <option value="1">UAT</option>
                      <option value="0" selected="selected">Production</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              
              
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  var list_transactions = function(page) {
    $.ajax({
      url : '{{ url_list_transactions }}'.replace('{PAGE}', page ? page : 1),
      dataType : 'json',
      beforeSend : function() {
        $('#refresh_transactions').button('loading');
        $('#transactions_pagination').empty();
        $('#transactions').html('<tr><td colspan="8" class="text-center"><i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;{{ text_loading }}</td></tr>');
      },
      success : function(data) {
        var html = '';
        if (data.transactions.length) {
          for (var i in data.transactions) {
            var row = data.transactions[i];
            html += '<tr>';
            html += '<td class="text-left hidden-xs">' + row.merchant + '</td>';
            html += '<td class="text-left"><a target="_blank" href="' + row.url_order + '">' + row.order_id + '</td>';
            html += '<td class="text-left hidden-xs">' + row.type + '</td>';
            html += '<td class="text-left hidden-xs">' + row.amount + '</td>';
            html += '<td class="text-left hidden-xs">' + row.risk + '</td>';
            html += '<td class="text-left hidden-xs hidden-sm">' + row.ip + '</td>';
            html += '<td class="text-left">' + row.date_created + '</td>';
            html += '<td class="text-right"><a class="btn btn-info" href="' + row.url_info + '" data-toggle="tooltip" data-original-title="{{ text_view }}"><i class="fa fa-eye"></i></a></td>';
            html += '</tr>';
          }
        } else {
          html += '<tr>';
          html += '<td class="text-center" colspan="8">{{ text_no_transactions }}</td>';
          html += '</tr>';
        }
        $('#transactions').html(html);
        
        $('#transactions_pagination').html(data.pagination).find('a[href]').each(function(index,element) {
          $(this).click(function(e) {
            e.preventDefault();
            list_transactions(isNaN($(this).attr('href')) ? 1 : $(this).attr('href'));
          })
        });
      },
      complete : function() {
        $('#refresh_transactions').button('reset');
      }
    });
  }
  $('#refresh_transactions').click(function(e) {
    e.preventDefault();
    list_transactions();
  }).trigger('click');
  $('.nav-tabs a[href="#{{ tab }}"]').tab('show');
  $('.text-danger').each(function() {
    $(this).closest('.form-group').addClass('has-error');
  });
  $('#select-gateway').change(function() {
    if ($(this).val() == 'other') {
      $('#gateway_other').show();
    } else {
      $('#gateway_other').hide();
      $(this).closest('.form-group').removeClass('has-error');
    }
  }).trigger('change');
  $('.show_hide_credential').click(function(e) {
    e.preventDefault();
    var input = $(this).closest('.input-group').find('input');
    if ($(input).attr('type') == 'text') {
      $(input).attr('type', 'password');
    } else {
      $(input).attr('type', 'text');
    }
  });
});
</script>
{{ footer }} 
